.about {
  &__info {
     display: grid;
     grid-gap: 30px;
     grid-template-areas:
     'bioimg'
     'bio';
      grid-template-columns: 1fr;
      justify-items: center;

      @include bp-small {
        grid-template-areas:
        'bioimg bio bio';
        grid-template-columns: repeat(3, 1fr);
     }

     @include bp-medium {
      grid-template-areas:
      'bioimg'
      'bio';
      grid-template-columns: 1fr;
     }
  }

  &__bio-img {
    grid-area: bioimg;
    align-self: center;
    justify-self: center;
    width: 50%;
    border: 3px solid
  }

  &__bio {
    grid-area: bio;
    text-align: center;
    @include bp-small {
      text-align: left;
      font-size: 1.2rem;
    }

    &-heading {
      font-size: 2rem;
    }
  }
}

