.header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.main {
  position: relative;
  @include bp-small {
    max-width: 1400px;
    margin: 0 auto;
  }
  align-items: center;
  text-align: center;
  padding: 2rem;
  min-height: calc(100vh - 60px);

  @include bp-small {
    padding: 4rem;
  }

 .social {
   &-icon {
     padding: 0.4rem;
     color: set-text-color($primary-color);

     &:hover{
       color: $secondary-color;
       @include easeOut(0.5s);
      }
    }
  }

//  &#home {
//    overflow: hidden;
//    .lg-heading{
//      margin-top: 20vh;
//     }
//   }
}
