.menu {
  $parent: &;
  &-btn {
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: 3;
    cursor: pointer;
    //@include easeOut(0.2s);
    &:focus {
      outline: 0;
      //background-color: $secondary-color;
      #{$parent}-btn__line {
        background-color: $secondary-color;
      }
    }

    &__line {
      width:28px;
      height: 3px;
      margin: 0 0 5px 0;
      background-color: $white;
      @include easeOut(0.5s);
    }

    &.close {
      transform: rotate(180deg);

      #{$parent}-btn__line {
        //first line
        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
          background-color: $secondary-color;
        }

        //remove second line
        &:nth-child(2) {
          opacity: 0;
        }

        // last line
        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -6px);
          background-color: $secondary-color;
        }
      }
    } 
  }
}