$show-home-img: true;
$home-img: url(../img/js-bg.jpg);

@mixin easeOut ($time) {
  transition: all $time ease-out; 
}

@mixin background-opacity($color, $opacity){
  background-color: rgba($color, $opacity);
}

@mixin background {
  @if $show-home-img {
    &#bg-img {
      background-image: $home-img;
      background-attachment: fixed;
      background-size: cover;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        @include background-opacity($primary-color, 0.9);
        z-index: -1;
      }
    }
  }
}

// Delay each nav item slide by 0.1s

@for $x from 1 through 4 {
  .menu-nav__item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}


//set text color

@function set-text-color($color) {
   @if (lightness($color) > 40 ){
     @return #000;
   } @else {
     @return #fff;
   }
}

// Media Queries
@mixin bp-small {
  @media screen and (min-width: 768px){
    @content;
  }
}

@mixin bp-medium {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin bp-large {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
