* {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

body {
  @include background;
  background-color: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family:  Verdana, Geneva, sans-serif;
  line-height: 1.5;
}

.verdana

h1, h2, h3 {
  margin: 0;
  font-weight: 400;
  
}

.lg-heading {
 font-size: 4rem;
 line-height: 1;
 margin-bottom: 1rem;
 margin-top: 50px;
  @include bp-small {
    font-size: 6rem; // default HTML font size = 16px, REM(16px * 6px);
  }

}

.sm-heading {
  font-size: 1.5rem; // default HTML font size = 16px, REM(16px * 6px);
  margin-bottom: 2rem;
  padding: 10px;
  display:inline-block;
  background-color: rgba(lighten($primary-color, 2), 0.5);
  @include bp-small {
    font-size: 2rem;
  }
}

.text-secondary{
  color: $secondary-color;
}


a {
  color: $white;
  text-decoration: none;
}


.list {
  &__item {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 10px;
    line-height: 1.4em;
  }
}

